.venv/*
.vscode/settings.json
.vscode/*.log
log.txt
build/*
samples/test-harness/data/gltf/cornell/*.cache
samples/test-harness/data/gltf/furnace/*.cache
samples/test-harness/data/gltf/multi-cornell/*.cache
samples/test-harness/data/gltf/sponza/*.cache
samples/test-harness/data/gltf/sponza/Sponza.cache
samples/test-harness/data/gltf/tunnel/*.cache
samples/test-harness/data/gltf/two-rooms/*.cache
